<a href="https://colab.research.google.com/github/sohebdatascientist1/Statistics-With-Python-TheCompleteGuide/blob/main/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("/content/Bank Customer Churn Prediction.csv")

In [ ]:
df.head()

,customer_id,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
0,15634602,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,15647311,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,15619304,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,15701354,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,15737888,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
df.columns

Index(['customer_id', 'credit_score', 'country', 'gender', 'age', 'tenure',
       'balance', 'products_number', 'credit_card', 'active_member',
       'estimated_salary', 'churn'],
      dtype='object')

In [ ]:
df.drop(columns=['customer_id'],inplace=True)

In [ ]:
df.head()

,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
df['country'].value_counts()

France     5014
Germany    2509
Spain      2477
Name: country, dtype: int64

In [ ]:
df['gender'].value_counts()

Male      5457
Female    4543
Name: gender, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   credit_score      10000 non-null  int64
 1   country           10000 non-null  object
 2   gender            10000 non-null  object
 3   age               10000 non-null  int64
 4   tenure            10000 non-null  int64
 5   balance           10000 non-null  float64
 6   products_number   10000 non-null  int64
 7   credit_card       10000 non-null  int64
 8   active_member     10000 non-null  int64
 9   estimated_salary  10000 non-null  float64
 10  churn             10000 non-null  int64
dtypes: float64(2), int64(7), object(2)
memory usage: 859.5+ KB

In [ ]:
pd.get_dummies(df,columns=['country','gender'],drop_first=True)

,credit_score,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn,country_Germany,country_Spain,gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,1,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0,0

In [ ]:
df=pd.get_dummies(df,columns=['country','gender'],drop_first=True)

In [ ]:
df.drop(['churn'],axis=1)

,credit_score,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,country_Germany,country_Spain,gender_Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0

In [ ]:
X=df.drop(['churn'],axis=1)

In [ ]:
y=df['churn']

In [ ]:
import tensorflow as tf
from tensorflow import keras

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
len(X.columns)

11

In [ ]:
from keras.api._v2.keras import activations
model=Sequential()
model.add(Dense(11,activation='sigmoid',input_dim=11))##input layer
model.add(Dense(11,activation='sigmoid'))## hidden layer
model.add(Dense(1,activation='sigmoid'))## output layer

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler=StandardScaler()

In [ ]:
X_train_tf=scaler.fit_transform(X_train_tf)
X_test_tf=scaler.transform(X_test_tf)

In [ ]:
model.compile(optimizer='Adam',loss='binary_crossentropy',metrics=['accuracy'])

In [ ]:
history=model.fit(X_train,y_train,epochs=50,verbose=1)

Epoch 1/50
250/250 [==============================] - 1s 2ms/step - loss: 0.5047 - accuracy: 0.7960
Epoch 2/50
250/250 [==============================] - 0s 2ms/step - loss: 0.5047 - accuracy: 0.7960
Epoch 3/50
250/250 [==============================] - 0s 2ms/step - loss: 0.5065 - accuracy: 0.7960
Epoch 4/50
250/250 [==============================] - 0s 2ms/step - loss: 0.5046 - accuracy: 0.7960
Epoch 5/50
250/250 [==============================] - 0s 2ms/step - loss: 0.5045 - accuracy: 0.7960
Epoch 6/50
250/250 [==============================] - 0s 2ms/step - loss: 0.5044 - accuracy: 0.7960
Epoch 7/50
250/250 [==============================] - 0s 2ms/step - loss: 0.5044 - accuracy: 0.7960
Epoch 8/50
250/250 [==============================] - 0s 2ms/step - loss: 0.5045 - accuracy: 0.7960
Epoch 9/50
250/250 [==============================] - 0s 2ms/step - loss: 0.5043 - accuracy: 0.7960
Epoch 10/50
250/250 [==============================] - 0s 2ms/step - loss: 0.5042 - accuracy: 0.7960
Epoch 11/50
250/250 [==============================] - 0s 2ms/step - loss: 0.5043 - accuracy: 0.7960
Epoch 12/50
250/250 [==============================] - 0s 2ms/step - loss: 0.5041 - accuracy: 0.7960
Epoch 13/50
250/250 [==============================] - 1s 3ms/step - loss: 0.5040 - accuracy: 0.7960
Epoch 14/50
250/250 [==============================] - 1s 3ms/step - loss: 0.5040 - accuracy: 0.7960
Epoch 15/50
250/250 [==============================] - 1s 3ms/step - loss: 0.5041 - accuracy: 0.7960
Epoch 16/50
250/250 [==============================] - 1s 3ms/step - loss: 0.5041 - accuracy: 0.7960
Epoch 17/50
250/250 [==============================] - 0s 2ms/step - loss: 0.5040 - accuracy: 0.7960
Epoch 18/50
250/250 [==============================] - 0s 2ms/step - loss: 0.5039 - accuracy: 0.7960
Epoch 19/50
250/250 [==============================] - 0s 2ms/step - loss: 0.5040 - accuracy: 0.7960
Epoch 20/50
250/250 [==============================] - 0s 2ms/step - loss: 0.5039 - accuracy: 0.7960
Epoch 21/50
250/250 [==============================] - 0s 2ms/step - loss: 0.5039 - accuracy: 0.7960
Epoch 22/50
250/250 [==============================] - 0s 2ms/step - loss: 0.5039 - accuracy: 0.7960
Epoch 23/50
250/250 [==============================] - 0s 2ms/step - loss: 0.5041 - accuracy: 0.7960
Epoch 24/50
250/250 [==============================] - 1s 2ms/step - loss: 0.5041 - accuracy: 0.7960
Epoch 25/50
250/250 [==============================] - 1s 2ms/step - loss: 0.5041 - accuracy: 0.7960
Epoch 26/50
250/250 [==============================] - 0s 2ms/step - loss: 0.5043 - accuracy: 0.7960
Epoch 27/50
250/250 [==============================] - 0s 2ms/step - loss: 0.5042 - accuracy: 0.7960
Epoch 28/50
250/250 [==============================] - 0s 2ms/step - loss: 0.5040 - accuracy: 0.7960
Epoch 29/50
250/250 [==============================] - 0s 2ms/step - loss: 0.5042 - accuracy: 0.7960
Epoch 30/50
250/250 [==============================] - 1s 2ms/step - loss: 0.5041 - accuracy: 0.7960
Epoch 31/50
250/250 [==============================] - 1s 2ms/step - loss: 0.5040 - accuracy: 0.7960
Epoch 32/50
250/250 [==============================] - 1s 2ms/step - loss: 0.5039 - accuracy: 0.7960
Epoch 33/50
250/250 [==============================] - 0s 2ms/step - loss: 0.5040 - accuracy: 0.7960
Epoch 34/50
250/250 [==============================] - 0s 2ms/step - loss: 0.5038 - accuracy: 0.7960
Epoch 35/50
250/250 [==============================] - 0s 2ms/step - loss: 0.5040 - accuracy: 0.7960
Epoch 36/50
250/250 [==============================] - 1s 3ms/step - loss: 0.5040 - accuracy: 0.7960
Epoch 37/50
250/250 [==============================] - 1s 3ms/step - loss: 0.5039 - accuracy: 0.7960
Epoch 38/50
250/250 [==============================] - 1s 3ms/step - loss: 0.5040 - accuracy: 0.7960
Epoch 39/50
250/250 [==============================] - 1s 4ms/step - loss: 0.5037 - accuracy: 0.7960
Epoch 40/50
250/250 [==============================] - 1s 2ms/step - loss: 0.5039 - accuracy: 0.7960
Epoch 41/50
250/250 [==============================] - 0s 2ms/step - loss: 0.5037 - accuracy: 0.7960
Epoch 42/50
250/250 [==============================] - 0s 2ms/step - loss: 0.5041 - accuracy: 0.7960
Epoch 43/50
250/250 [==============================] - 0s 2ms/step - loss: 0.5037 - accuracy: 0.7960
Epoch 44/50
250/250 [==============================] - 1s 2ms/step - loss: 0.5038 - accuracy: 0.7960
Epoch 45/50
250/250 [==============================] - 1s 2ms/step - loss: 0.5039 - accuracy: 0.7960
Epoch 46/50
250/250 [==============================] - 0s 2ms/step - loss: 0.5036 - accuracy: 0.7960
Epoch 47/50
250/250 [==============================] - 0s 2ms/step - loss: 0.5037 - accuracy: 0.7960
Epoch 48/50
250/250 [==============================] - 0s 2ms/step - loss: 0.5036 - accuracy: 0.7960
Epoch 49/50
250/250 [==============================] - 0s 2ms/step - loss: 0.5042 - accuracy: 0.7960
Epoch 50/50
250/250 [==============================] - 0s 2ms/step - loss: 0.5038 - accuracy: 0.7960

In [34]:
y_pred=model.predict(X_test)

63/63 [==============================] - 0s 3ms/step

In [36]:
y_pred=y_pred.argmax(axis=-1)

In [ ]:
y_pred=model.predict(X_test)

63/63 [==============================] - 0s 1ms/step

In [ ]:
y_pred

array([[0.19619425],
       [0.19619425],
       [0.23663014],
       ...,
       [0.23663014],
       [0.2720978 ],
       [0.19619425]], dtype=float32)

In [ ]:
y_pred.argmax(axis=-1)

array([0, 0, 0, ..., 0, 0, 0])

In [37]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.7975